.swal2-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: red;
  width: 300px;
  height: auto;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swal2-popup.show-popup {
  animation: fadeIn 0.3s ease;
}
